<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hidden-xs">
                <%- include('../header/left-header-top'); -%>
            </div>
            <div class="col-md-6 hidden-xs">
                <div class="pull-right">
                    <%- include('../header/right-header-top'); -%>
                </div>
            </div>
        </div>
    </div>
</div>
