<nav class="navbar navbar-default navbar-static" id="mainNavbar">
  <div class="container">
    <div class="navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%- include('../header/logo'); -%>
    </div>
    <div class="navbar-center">
      <%- include('../header/main-navigation'); -%>
    </div>
    <div class="navbar-right">
      <%- include('navbar-activity'); -%>
    </div>
  </div>
</nav>
