<div class="navbar-activity">
  <ul class="nav navbar-nav">
      <%- include('../header/language-toggle'); -%>
      <%- include('../header/account-login'); -%>
      <%- include('../header/search'); -%>
  </ul>
</div>
