@using Synthesis.Mvc.Extensions
@model Sitecore.Feature.Navigation.Models.ILogoSettingsItem
    
<a class="navbar-brand " href="">
    @using (Model.Link.RenderWithBody(Html))
    {
        <span class="logo">
            @Model.LogoIcon.Render()
        </span>
    }
</a>
