@using Sitecore.Feature.Navigation.Models
@using Synthesis.Mvc.Extensions
@model ILinkMenuItem

<nav>
    <ul class="nav @Model.AdditionalStyles.RawValue">
        @foreach (var item in Model.Children.OfType<ILinkMenuItemItem>())
        {
            var divider = item.DividerBefore.Value ? "divider-left" : string.Empty;
            <li class="@divider">
                @using (item.Link.RenderWithBody(Html))
                {
                    if (item.Icon.HasTextValue)
                    {
                        <i class="fa fa-@item.Icon.RawValue"></i>@:&nbsp;
                    }
                    else
                    {
                        @item.ShowTitle.Render()
                    }
                }
            </li>
        }
    </ul>
</nav>