<li class="dropdown hidden-xs">
  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-user"></i>
  </a>
  <div class="dropdown-menu">
    <form action="/api/sitecore/Accounts/Logout" method="post">
        <div class="form-group">
                <label class="control-label">Name</label>
                <div class="form-control-static">Administrator</div>
              </div>
            <div class="form-group">
              <label class="control-label">Name</label>
              <div class="form-control-static"></div>
            </div>
            <a class="btn btn-block btn-primary" href="/en/Edit-Profile">Edit details</a>
            <button type="submit" class="btn btn-block btn-default">Logout</button>
    </form>
    </div>
</li>

<script type="text/javascript">
    require(['accounts/login'], function(Login) {
        return new Login({
            ele: '#loginContainer'
        });
    })
</script>
