<li class="dropdown">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-globe"></i>
    </a>
    <ul class="dropdown-menu">
            <li class="">
                <a href="http://robertsHabitat.local/da/" onclick="return SwitchToLanguage('da', 'en', 'http://robertsHabitat.local/da/')">dansk</a>
            </li>
            <li class="">
                <a href="http://robertsHabitat.local/ja-jp/" onclick="return SwitchToLanguage('ja-JP', 'en', 'http://robertsHabitat.local/ja-jp/')">日本語 (日本)</a>
            </li>
            <li class="active">
                <a href="robertsHabitat.local/en/" onclick="return SwitchToLanguage('en', 'en', 'http://robertsHabitat.local/en/')">English</a>
            </li>
    </ul>
</li>
