<div class="collapse navbar-collapse" id="siteNavbar">
  <ul class="nav navbar-nav">
        <li class="">
            <a class="text-uppercase" href="/en" target="">
              Home
            </a>
        </li>
        <li class=" dropdown">
            <a href="/en/About-Habitat" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              About Habitat<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="">
                  <a href="/en/About-Habitat/Introduction" target="">Introduction</a>
                </li>
                <li class="">
                  <a href="/en/About-Habitat/Getting-Started" target="">Getting Started</a>
                </li>
                <li class="">
                  <a href="http://helix.sitecore.net" target="_blank">Helix Documentation</a>
                </li>
            </ul>
        </li>
        <li class=" dropdown">
            <a href="/en/Modules" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Modules<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="">
                  <a href="/en/Modules/Project" target="">Project</a>
                </li>
                <li class="">
                  <a href="/en/Modules/Feature" target="">Feature</a>
                </li>
                <li class="">
                  <a href="/en/Modules/Foundation" target="">Foundation</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a class="text-uppercase" href="/en/More-Info" target="">
              More Info
            </a>
        </li>
  </ul>
</div>

<script type="text/javascript">
    require(["theming"]);
</script>
