<!-- Right Header Top -->
<nav>
  <ul class="nav nav-service navbar-nav nav-pills">
      <li class="">
        <a href="https://github.com/Sitecore/Habitat/" target="" title="Habitat" class="">
            Habitat
        </a>
      </li>
      <li class="">
        <a href="http://helix.sitecore.net" target="" title="Helix" class="">
            Helix
        </a>
      </li>
      <li class="divider-left">
        <a href="https://www.sitecore.net" target="_blank" title="Sitecore.net" class="">
            Sitecore.net
        </a>
      </li>
  </ul>
</nav>
<!-- End Right Header Top -->
