<section class="section section-full ">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">

<div class="thumbnail">
  <a href="/About-Habitat/Introduction">
    <img src="/images/item-listing/item1.jpg" class="img-responsive" alt="" width="500" height="500" disablewebedit="False">
  </a>
  <div class="caption">
    <h3 class="teaser-heading">
      Introduction to Habitat
    </h3>
    <p>
      </p><p>Sitecore Habitat is a range of sites demonstrating the capabilities of the Sitecore Experience Platform. </p>
<p>The solution is built on the Sitecore Helix guidelines, which&nbsp;<span>focuses on increasing productivity and quality in Sitecore projects</span>.</p>
    <p></p>
    <a href="/About-Habitat/Introduction" class="btn btn-default">
            Read more
    </a>
  </div>
</div>
    </div>
    <div class="col-sm-4">

<div class="thumbnail">
  <a href="/Modules">
    <img src="/images/item-listing/item2.jpg" class="img-responsive" alt="" width="500" height="500" disablewebedit="False">
  </a>
  <div class="caption">
    <h3 class="teaser-heading">
      Modules
    </h3>
    <p>
      The Habitat example implementation has a range of modules which covers the basics of a Sitecore website.<br>
    </p>
    <a href="/Modules" class="btn btn-default">
            Read more
    </a>
  </div>
</div>
    </div>
    <div class="col-sm-4">

<div class="thumbnail">
  <a href="/About-Habitat/Getting-Started">
    <img src="/images/item-listing/item3.jpg" class="img-responsive" alt="" width="500" height="500" disablewebedit="False">
  </a>
  <div class="caption">
    <h3 class="teaser-heading">
      Getting Started
    </h3>
    <p>
      </p><p>Sitecore Helix a defined methodology with conventions and practises - Habitat is an example implementation available for your understanding.</p>
    <p></p>
    <a href="/About-Habitat/Getting-Started" class="btn btn-default">
            Read more
    </a>
  </div>
</div>
    </div>
  </div>
</div>
</section>
