<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="../css/roberts-habitat/Default.css">
</head>
<body class="header-static">
    <div id="main-container">
        <header class="header-static">
            <%- include('frames/header-top'); -%>

            <%- include('header/navbar'); -%>
        </header>
        <main role="main">
        </main>
        <footer class="bg-dark">
            <%- include('frames/footer'); -%>
        </footer>
        <%- include('frames/page-sidebar'); -%>
    </div>
</body>
</html>
