<section class="section section-full bg-secondary">
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">



<div class="jumbotron text-center " style="background-image: none">

  <h2>
    Download Habitat Now!
  </h2>
  <p class="">
    Habitat is available as a Sitecore Package and the sourcecode is available on Github.
  </p>
  <a class="btn btn-primary btn-lg" rel="noopener noreferrer" href="http://www.github.com/sitecore/habitat" target="_blank">Visit Habitat on Github</a>
</div>

    </div>
    <div class="col-lg-3 col-sm-6">

<blockquote class="blockquote-center ">
  <header>
    <img src="/images/promotion/item1.png" class="img-responsive" alt="Anders Laub Christoffersen" width="157" height="119" disablewebedit="False">
    <p>
      Anders Laub Christoffersen
    </p>
    <p>
      Sitecore MVP,
      Pentia A/S
    </p>
  </header>
  <p>
    [Habitat...] is nothing less than groundbreaking, it is a real revolution in the way that Sitecore teaches developers to work with their product.
  </p>
</blockquote>

    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="well ">
  <h5 class="text-uppercase">News</h5>
  <ul class="media-list">
  </ul>
  <a href="/Modules/Feature/News/News" class="btn btn-default">
    Read more
  </a>
</div>
    </div>
  </div>
</div>
</section>
