<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script type="text/javascript">
        const cacheBuster = "23";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <script src="../../js/desktop.js"></script>

    <link rel="stylesheet" href="../../css/roberts-habitat/Default.css">
</head>
<body class="header-static">
    <div id="main-container">
        <header class="header-static">
            <%- include('../frames/header-top'); -%>

            <%- include('../frames/navbar'); -%>
        </header>
        <main role="main">
        </main>
        <footer class="bg-dark">
            <%- include('../frames/footer'); -%>
        </footer>
        <%- include('../frames/page-sidebar'); -%>
    </div>
</body>
</html>
