<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <siteManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore" type="Sitecore.Sites.SitecoreSiteProvider, Sitecore.Kernel" checkSecurity="false">
          <patch:attribute name="type">Sitecore.Feature.PageContent.Sites.HelixSiteProvider, Sitecore.Feature.PageContent</patch:attribute>
        </add>
      </providers>
    </siteManager>
    <services>
      <register serviceType="Sitecore.Abstractions.BaseSiteContextFactory, Sitecore.Kernel" implementationType="Sitecore.Feature.PageContent.Sites.HelixSiteContextFactory, Sitecore.Feature.PageContent"/>
    </services>
    <sites>
      <site name="website">
        <patch:delete/>
      </site>
    </sites>
  </sitecore>
</configuration>
