<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <siteManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore" type="Sitecore.Sites.SitecoreSiteProvider, Sitecore.Kernel" checkSecurity="false">
          <providers hint="raw:AddProviderReference">
            <reference patch:before="reference[@name='config']" name="helix" />
          </providers>
        </add>
        <add patch:after="add[@name='config']" name="helix" type="Sitecore.Feature.PageContent.Sites.HelixSiteProvider, Sitecore.Feature.PageContent" checkSecurity="false" resolve="true" />
      </providers>
    </siteManager>
  </sitecore>
</configuration>
