<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Navigation" description="Feature Navigation" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <include name="Languages.Content" database="master" path="/sitecore/system/Languages"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>