<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Analytics.RobotDetection.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.ExperienceEditor.Speak.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Nexus.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Security.AntiCsrf.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.MongoDB.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Redis.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.SessionProvider.Sql.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Synthesis" version="9.0.1" targetFramework="net461" />
  <package id="Synthesis.Core" version="9.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net471" />
</packages>