<!-- Footer -->
<footer class="bg-dark">
      <div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6">


<ul class="nav nav-stacked">
    <li>
      <a href="http://community.sitecore.net" target="_blank" title="Community">

        <span>Community</span>
      </a>
    </li>
    <li>
      <a href="https//doc.sitecore.net" target="_blank" title="Documentation">

        <span>Documentation</span>
      </a>
    </li>
    <li>
      <a href="kb.sitecore.net" target="_blank" title="Knowledge Base">

        <span>Knowledge Base</span>
      </a>
    </li>
    <li>
      <a href="spn.sitecore.net" target="_blank" title="Partner Network">

        <span>Partner Network</span>
      </a>
    </li>
</ul>
    </div>
    <div class="col-md-2 col-sm-6">


<ul class="nav nav-stacked">
    <li>
      <a href="http://www.sitecore.net/learn/blogs/best-practice-blogs.aspx" target="_blank" title="Best Practice Blogs">

        <span>Best Practice Blogs</span>
      </a>
    </li>
    <li>
      <a href="http://www.sitecore.net/learn/blogs/business-blogs.aspx" target="_blank" title="Business Blogs">

        <span>Business Blogs</span>
      </a>
    </li>
    <li>
      <a href="http://www.sitecore.net/learn/blogs/technical-blogs.aspx" target="_blank" title="Technical Blogs">

        <span>Technical Blogs</span>
      </a>
    </li>
      <li class="divider"></li>
    <li>
      <a href="http://www.sitecore.net/about/contact.aspx" target="_blank" title="Contact Sitecore">

        <span>Contact Sitecore</span>
      </a>
    </li>
</ul>
    </div>
    <div class="col-md-4 col-sm-6">

<div class="well bg-dark">
      <h4>
      About Habitat
    </h4>
      <p>
      Habitat sites are demonstration sites for the Sitecore® Experience Platform™.<br>The sites demonstrate the full set of capabilities and potential of the platform through a number of both technical and business scenarios.
    </p>
  <a class="btn btn-default" rel="noopener noreferrer" href="http://github.com/sitecore/habitat" target="_blank">Example available on GitHub</a></div>
    </div>
    <div class="col-md-4 col-sm-6">


<div class="well bg-dark">
  <h4>Contact information</h4>

  <address>
    <p>
        <strong>Sitecore Corporation</strong>
      <br>
      2320 Marinship Way<br>Sausalito, CA 94965<br>USA
    </p>
    <p>
        <br>
        <i class="fa fa-phone"></i> +1 415 380 0600              <br>
        <i class="fa fa-envelope"></i> <a href="mailto:sales@sitecore.net">sales@sitecore.net</a>    </p>
  </address>
</div>

    </div>
  </div>
</div>
<div class="footer-bottom text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

<small class="copyright">
  <p>© Copyright 2017, <a href="http://sitecore.net" target="_blank" title="Opens in a new window">Sitecore</a>. All Rights Reserved<br>
<small>“Habitat” as used here is for demonstration purposes only and to represent the software and services provided by Sitecore further described at www.sitecore.net.</small></p>
</small>
			</div>
		</div>
	</div>
</div>
    </footer>
<!-- End Footer -->
